<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profil osoby</title>
</head>
<body>

<h2>Profil:
    <span th:text="${person.fullName}">Imię i nazwisko</span></h2>
    <p>Rok urodzenia:
        <span th:text="${person.birthYear}">1990</span>
    </p>
<hr/>

<h3>Wypożyczone książki:</h3>

<div th:if="${books.isEmpty()}">
    <p>Ta osoba nie wypożyczyła jeszcze żadnej książki.</p>
</div>

<div th:unless="${books.isEmpty()}">
    <ul>
        <li th:each="book : ${books}">
            <span th:text="${book.title + ', ' + book.author + ', ' + book.year}">Tytuł książki</span>
        </li>
    </ul>
</div>

<hr/>
<a th:href="@{/people/{id}/edit(id=${person.id})}">Edytuj dane</a>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.id})}">
    <input type="submit" value="Usuń osobę"/>
</form>

</body>
</html>