<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>

<body>


<h2><span th:text="${book.title}">Название</span></h2>
<p>
    <span th:text="${book.author}">Автор</span>,
    <span th:text="${book.year}">Год</span>
</p>

<div th:if="${owner}">
    <p>Книга сейчас у:
        <span th:text="${owner.fullName}">Имя человека</span>
    </p>

    <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.id})}">
        <input type="submit" value="Освободить книгу"/>
    </form>
</div>



<div th:unless="${owner}">
    <p>Эта книга свободна</p>

    <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.id})}">
        <label for="person">Выберите читателя:</label>
        <select th:object="${person}" th:field="*{id}" id="person">
            <option th:each="person : ${people}"
                    th:value="${person.id}"
                    th:text="${person.fullName}">Имя</option>
        </select>
        <input type="submit" value="Назначить книгу"/>
    </form>
</div>


<!--<p th:text="${book.getTitle()}"></p>-->
<!--<p th:text="${book.getAuthor()}"></p>-->
<!--<p th:text="${book.getYear()}"></p>-->



<a th:href="@{/books/{id}/edit(id=${book.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="DELETE"/>
</form>

</body>

</html>